<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="num"> <button @click="num++">+</button><br>
    <input type="text" v-model="num"> <button @click="num--">-</button><br>
    <button @click="handleClick">点我</button>

    <h1>
        <span v-text="name"></span> 牛逼！<br>
        {{num}} 个菜鸡
    </h1>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    const app = new Vue({
        el:"#app",
        data:{
            name:"大良",
            num:1

        },
        methods:{
            handleClick(){
                console.log("hello,大良你真菜，照着视频看还能写错，你把METHODS写到data里面了!");
            }
        }
    })
</script>
</body>
</html>